<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/" href="">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="" routerLink="biografía" routerLinkActive="active" ariaCurrentWhenActive="page" >BÍO/CV</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">PROYECTOS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="">BLOG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">CONTACTO</a>
      </li>
    <li class="nav-item">
      <a class="nav-link " href="" tabindex="-1" aria-disabled="true"   >Disabled</a>
    </li>
  </ul>
  <router-outlet></router-outlet>