<!-- <h1>Angular Router App</h1> -->
<!-- <nav>
  <ul>
    <li><a routerLink="/cabecera" routerLinkActive="active" ariaCurrentWhenActive="page">First Component</a></li>
    <li><a routerLink="/portada" routerLinkActive="active" ariaCurrentWhenActive="page">portada</a></li>
    
  </ul>
</nav> -->

<body class="body">
  <section id="menuInicio">
     <h1>LÉA THIEUX</h1>
     <ul>
        <a href=""><li>BIOGRAFÍA</li></a>
        <!-- <li><a routerLink="./portada"  >portada</a></li> -->
        <a href=""><li>PROYECTOS</li></a>
        <a href=""><li>BLOG</li></a>
        <a href=""><li>CONTACTO</li></a>
     </ul>
  </section>
  <section id="idiomasInicio">
     <ul>
        <a href=""><li>ESP</li></a>
        <a href=""><li>FRA</li></a>
        <a href=""><li>ENG</li></a>
     </ul>
  </section>

</body>

<router-outlet />